<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="cadena_conexion" connectionString="Data Source=DESKTOP-IOMUPJ9\SQLEXPRESS;Initial Catalog=AlmacenSeguridadDb;Integrated Security=True;Connect Timeout=30;Encrypt=False" providerName="System.Data.SqlClient"/>
                                                  
</connectionStrings>
</configuration>